* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1a1a1a;
  color: white;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

button {
  font-family: inherit;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}
